
<!DOCTYPE html> 
<html> 
    
<head> 
    <title>Server</title> 
</head> 
    
<body> 
    <form id="myForm">
        <input type="text" name="data" id="dataInput" />
        <button type="button" id="submitButton">Submit</button>
      </form>
      <!-- <h1>
        <%= text %>
      </h1> -->
      <iframe id="Message" srcdoc="<%= text %>"></iframe>
      <script>
        const subBtn=document.getElementById('submitButton');
        subBtn.addEventListener('click',()=>{
            const data=document.getElementById('dataInput').value;
            console.log(data);
            sendData(data);

        });
       
        //console.log(cookies);
        async function sendData(data)
        {
            fetch('/data',{
                method:'POST',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({data}),
            })/* .then(response=>response.text())
            .then(result=>{
                console.log("form send to server from index.ejs....");
            }) */
            .catch(error=>{
                throw error;
            })
        }
        function refresh()
        {
            const iframe=document.querySelector('iframe').contentWindow;
            iframe.src=iframe.src;      
        }
        setInterval(refresh,10000);
        

      // Check cookie flag initially and set an interval to check every second
        
      </script>
      
</body> 
  
</html>
